name: Go Tests
on: [push, pull_request]

jobs:
  verify-goimports:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
          stable: true

      - run: |
          echo "GOPATH=${HOME}/go" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - name: verify goimports
        run: |
          files=$(go run golang.org/x/tools/cmd/goimports -format-only -l .)
          # Sadly goimports doesn't use exit codes
          if [[ -n "${files}" ]]; then
            echo "::error ::goimports should be run on these files:"
            echo "${files}"
            exit 1
          fi

  verify-gomod:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
          stable: true

      - name: Check code
        uses: actions/checkout@v2

      - run: go mod tidy

      - name: Verify no changes from go mod tidy.
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git status    # These are the files that failed to pass the check.
            exit 1
          fi
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
          stable: true

      - name: Check out code
        uses: actions/checkout@v2

      - name: Build
        run: go build -v ./...

      - name: Test
        run: |
          make test
